{% extends "layout.html" %}

{% block title %}
    Buy Shares
{% endblock %}

{% block main %}
    <h1>Buy Shares</h1>

    <div class="p-5 mb-4 bg-pt-dark2 rounded-3">
        <form action="/buy" method="post">
            <div class="mb-3">
                <label for="stock1" class="form-label">Stock to buy (Input symbol)</label>
                <input type="text" class="form-control" name="symbol" id="stock1" value="{{ symbol }}">
            </div>
            <div class="mb-3">
                <label for="shares1" class="form-label">Number of shares to buy</label>
                <input type="number" class="form-control" name="shares" id="shares1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}