{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>

    <table class="table table-striped">
        <thead>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </thead>
        <tbody>
            <tr>
                <td>SYMB</td>
                <td>5</td>
                <td>$5</td>
                <td>2021-06-01</td>
            </tr>
        </tbody>
    </table>
{% endblock %}