{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>

    <table class="table table-striped">
        <thead>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["symbol"] }}</td>
                <td>{{ transaction["shares"] }}</td>
                <td>{{ transaction["price"] | usd }}</td>
                <td>{{ transaction["timestamp"].strftime('%Y-%m-%d, %I:%M %p') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}