{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="p-5 mb-4 bg-pt-dark2 rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Paper Trader</h1>
            <p class="col-md-8 fs-4">Get quotes and news on stocks. Register to practice buying and selling stocks with a cash amount of your choice.</p>
            <a href="/register" class="btn btn-primary btn-lg" role="button">Register</a>
        </div>
    </div>
{% endblock %}