{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1>Login</h1>

    <form action="/login" method="post">
        <div class="mb-3">
            <label for="email1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email1">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}