{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Quote</h1>

    <div class="p-5 mb-4 bg-pt-dark2 rounded-3">
        <h4>
            <span class="badge badge-stock">{{ quote["symbol"] }}</span>
            <strong> &nbsp {{ quote["name"] }}</strong>
        </h4>
        <h2><strong>{{ quote["price"] | usd }}</strong></h2>
        {% if quote["change"] > 0 %}
            <h4 class="positive">
                <i class="fas fa-caret-up"></i>
                {{ quote["change"] | usd }} &nbsp {{ quote["change_percent"] }}%
            </h4>
        {% elif quote["change"] < 0 %}
            <h4 class="negative">
                <i class="fas fa-caret-down"></i>
                {{ quote["change"] | usd }} &nbsp {{ quote["change_percent"] }}%
            </h4>
        {% else %}
            <h4>{{ quote["change"] | usd }} &nbsp {{ quote["change_percent"] }}%</h4>
        {% endif %}
        
        {% if user_holding %}
            <div class="quote-block">
                <p class="quote-text">Currently holding: <strong>{{ user_holding["shares"] }} shares</strong></p>
                <p class="quote-text">Cost of holdings: <strong>{{ user_holding["cost"] | usd }}</strong></p>
                <p class="quote-text">Market value of holdings: <strong>{{ user_holding["value"] | usd }}</strong></p>
                {% if user_holding["gain_loss"] > 0 %}                    
                    <p class="quote-text positive">Gain/loss: <i class="fas fa-caret-up"></i><strong>{{ user_holding["gain_loss"] | usd }}</strong></p>
                {% elif user_holding["gain_loss"] < 0 %}                    
                    <p class="quote-text negative">Gain/loss: <i class="fas fa-caret-down"></i><strong>{{ user_holding["gain_loss"] | usd }}</strong></p>
                {% else %}
                    <p class="quote-text">Gain/loss: <strong>{{ user_holding["gain_loss"] | usd }}</strong></p>
                {% endif %}
            </div>
            <p class="quote-text">
                <a href={{ "/buy/" + quote["symbol"] }} class="btn btn-secondary" role="button">Buy</a>
                <a href={{ "/sell/" + quote["symbol"] }} class="btn btn-secondary" role="button">Sell</a>
            </p>            
        {% elif logged_in %}
            <div class="quote-block">
                <p><a href={{ "/buy/" + quote["symbol"] }} class="btn btn-secondary" role="button">Buy</a></p>
            </div>
        {% endif %}
    </div>

    <h2>News</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for item in news_items %}
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href={{ item["url"] }} target="_blank"><img src={{ item["url_to_image"] }} width="100%" height="250" style="object-fit: cover;"></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href={{ item["url"] }} target="_blank">{{ item["title"] }}</a></h5>
                            <p class="card-text">{{ item["description"] }}</p>
                            <p class="card-text"><small class="text-muted">Published: {{ item["date"].strftime('%m/%d/%Y') }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}