{% extends "layout.html" %}

{% block title %}
    Reset Account
{% endblock %}

{% block main %}
    <h1>Reset Account</h1>
    <form action="/reset" method="post">        
        <div class="mb-3">
            <label for="cash1" class="form-label">Starting cash</label>
            <input type="number" class="form-control" name="cash" id="cash1" value="10000">
            <div id="resetHelpBlock" class="form-text">
                Resetting your account will erase all stock holdings and transactions from your account and you can start over with the specified cash amount. Starting cash must be between $100 - $10,000,000.
            </div>
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}